<section class='container p-4 text-center'>
  <div class='col-span-full'>
    <p>{{ '404.subtitle' | t }}</p>
    <p class='pt-2 pb-4 h1'>{{ '404.title' | t }}</p>
    <a
      class='inline-block button button--primary'
      href='{{ routes.all_products_collection_url }}'
    >
      {{- '404.continue_shopping' | t -}}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
