{% unless aria_label %}
  {% assign aria_label = 'accessibility.unmute' | t %}
{% endunless %}

<svg
  width="54"
  height="54"
  viewBox="0 0 54 54"
  fill="none"
  focusable="false"
  xmlns="http://www.w3.org/2000/svg"
  aria-label="{{ aria_label }}"
  aria-hidden="true"
>
  <title>{{ aria_label }}</title>
  <path d="M17.6712 22.371H16C15.4477 22.371 15 22.8187 15 23.371V28.7742C15 29.3265 15.4477 29.7742 16 29.7742H17.6784C17.8875 29.7742 18.0914 29.8397 18.2613 29.9616L23.7029 33.8647C24.3645 34.3393 25.2857 33.8664 25.2857 33.0521V18.9795C25.2857 18.1593 24.3526 17.6879 23.6923 18.1746L18.2646 22.1759C18.0927 22.3026 17.8848 22.371 17.6712 22.371Z" fill="currentColor"/>
  <path d="M30.6479 22.5332L37.7951 30.1009" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
  <path d="M30.6479 30.1009L37.7952 22.5332" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
</svg>
