<section class='container--full mb-32'>
  <div class='col-span-full bg-slate-500 flex justify-center items-center min-h-200'>
    <h1 class='text-white'>Style Guide</h1>
  </div>
</section>
<section class='container mb-32'>
  <div class='col-span-full space-y-6'>
    <h2 class='eyebrow'>Type Set</h2>
    <hr class='block my-10 border-default'>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>

    <p class='eyebrow'>Eyebrow</p>

    <p class='legal'>
      Legal: adipiscing elit. Cras imperdiet sem sapien, et accumsan dolor
      consequat vitae. Maecenas auctor mauris urna
    </p>

    <p class='body-1'>
      Body 1: <strong>Lorem ipsum dolor sit amet</strong>, consectetur
      adipiscing elit. Cras imperdiet sem sapien, et accumsan dolor consequat
      vitae. Maecenas auctor mauris urna,
      <em>eget hendrerit velit mollis tempus</em>. Vivam
    </p>

    <p class='body-2'>
      Body 2: <strong>Lorem ipsum dolor sit amet</strong>, consectetur
      adipiscing elit. Cras imperdiet sem sapien, et accumsan dolor consequat
      vitae. Maecenas auctor mauris urna,
      <em>eget hendrerit velit mollis tempus</em>. Vivam
    </p>

    <p class='body-3'>
      Body 3: <strong>Lorem ipsum dolor sit amet</strong>, consectetur
      adipiscing elit. Cras imperdiet sem sapien, et accumsan dolor consequat
      vitae. Maecenas auctor mauris urna,
      <em>eget hendrerit velit mollis tempus</em>. Vivam
    </p>
  </div>
</section>

<section class='container mb-32'>
  <div class='col-span-full'>
    <h2 class='eyebrow'>Buttons</h2>
    <hr class='block my-10 border-default'>
    <div class='flex gap-16 flex-wrap'>
      <button class='button button--primary'>Button</button>
      <button class='button button--primary-outline'>Button</button>
      <button class='button button--destroy'>Button</button>
      <button class='button--secondary'>Button</button>
    </div>
  </div>
</section>

<section class='container mb-32'>
  <div class='col-span-full'>
    <h2 class='eyebrow'>Utility Icons</h2>
    <hr class='block my-10 border-default'>
    <div class='flex gap-16 flex-wrap'>
      {% render 'icon-facebook' %}
      {% render 'icon-twitter' %}
      {% render 'icon-instagram' %}
      {% render 'icon-minus' %}
      {% render 'icon-plus' %}
      {% render 'icon-play' %}
      {% render 'icon-pause' %}
      {% render 'icon-search' %}
      {% render 'icon-close' %}
      {% render 'icon-arrow' %}
    </div>
  </div>
</section>
